<div class="card_number">
  <%= label_tag "billing_type[card_number]", "Card Number" %>
  <%= text_field_tag "billing_type[card_number]" %>
</div>
<div class="expiration_month">
  <%= label_tag "billing_type[expiration_month]", "Expiration Month" %>
  <%= text_field_tag "billing_type[expiration_month]" %>
</div>
<div class="expiration_year">
  <%= label_tag "billing_type[expiration_year]", "Expiration Year" %>
  <%= text_field_tag "billing_type[expiration_year]" %>
</div>
<div class="ccv">
  <%= label_tag "billing_type[ccv]", "CCV" %>
  <%= text_field_tag "billing_type[ccv]" %>
</div>
