<h3>Shipping Address</h3>
<div class="street-1">
  <%= label_tag "shipping_address[street_address1]", "Street Address 1" %><br />
  <%= text_field_tag "shipping_address[street_address1]" %>
</div>
<div class="street-2">
  <%= label_tag "shipping_address[street_address2]", "Street Address 2" %><br />
  <%= text_field_tag "shipping_address[street_address2]" %>
</div>
 <div class="city">
  <%= label_tag "shipping_address[city]", "City" %><br />
  <%= text_field_tag "shipping_address[city]" %>
</div>
<div class="state">
  <%= label_tag "shipping_address[state]", "State" %><br />
  <%= text_field_tag "shipping_address[state]" %>
</div>
<div class="zipcode">
  <%= label_tag "shipping_address[zipcode]", "Zip Code" %><br />
  <%= text_field_tag "shipping_address[zipcode]" %>
</div>