<fieldset>
  <div class="user-acct-info">
    <h1><%= @user.full_name %></h2>
    <h4><%= @user.email_address %></h4>
  </div> 
  <%= form_tag convert_cart_to_order_path, :method => :post do %>
  <div class="shipping-address">
  <h3>Shipping Address</h3>
    <% unless @user.has_existing_shipping_address? %>
      <div id="shipping_address_form"><%= render :partial => "shipping_address" %></div> 
    <% else %>
      Ship to: <%= @user.shipping_address.street_1%>
    <% end %>
  </div>
  <div class="billing-address">
  <h3>Billing Address</h3>
    <% unless @user.has_existing_billing_address? %>
      <div id="billing_address_form"><%= render :partial => "billing_address" %></div>
    <% else %>
      Bill to: <%= @user.billing_address.street_1 %>
    <% end %>
  </div>
  <div class="payment-info">
  <h3>Payment Info</h3>
    <% unless @user.has_existing_credit_card? %>
      <div id="payment_info_form"><%= render :partial => "billing_type" %></div>
    <% else %>
      Payment Card: <%= @user.credit_card.card_number %>
    <% end %>
    </div>
  <div class="checkout-form-actions">
    <%= submit_tag "Continue", :class => 'btn btn-primary' %>
  <% end %>
    <%= link_to 'Cancel', cart_show_path, :class => 'btn' %>
  </div>
</fieldset>
