<h1>Cart</h1>

<%= form_tag cart_update_path, :method => :post  do %>
<div class="keep-shopping">
   <%= link_to 'Keep Shopping', root_path, :class => 'btn'  %>
</div>
<div class="cart">
  <table class="table" width="600">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th> 
        <th class="cart_item_price">Unit Price</th> 
        <th class="cart_item_total">Item Subtotal</th>
        <th class="remove_item">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @cart.cart_products.each do |cp| %>
      <tr id="cart_item_<%= cp.product.id %>">
        <td><!--<%=image_tag cp.product.thumbnail%>--><%= link_to cp.product.title, product_path(cp.product) %></td>
        <td>
          <%= text_field_tag "cp_id_quant[#{cp.id}]", cp.quantity, :size => 4, :class => "quantity" %>
        </td> 
        <td class="cart_item_price"><%= number_to_currency(cp.price) %></td>
        <td class="cart_item_total"><%= number_to_currency(cp.total) %></td>
        <td class="remove-item-cart"><%= link_to "", cart_remove_product_path(:cp_id => cp.id), :class => 'i icon-remove', :method => :post, :confirm => 'Are you sure you\'d like to remove this item?' %>
      </tr>
    <% end %> 
    </tbody>
       <tr class="order-total">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="total-label">Total:</td>
        <td id="total-amount"><%= number_to_currency(@cart.total) %></td>
      </tr>
  </table>
</div>


<div class="cart-form-actions">
  <%= submit_tag "Empty Cart", :class => 'btn', :id => "empty_cart" %>
  <%= submit_tag "Update Cart", :class => 'btn', :id => "update_cart" %>
  <%= link_to 'Checkout', checkout_path, :class => 'btn btn-back' %> 
</div>
<% end %>