<%= content_for :head do %>
<script type="text/javascript">
$(function(){
  $('select').live('change',function(){
    $(this).closest('form#filter').submit();
  });
});
</script>
<% end %>
<h1>Orders</h1>
<div class="filter">
  <%= form_tag admin_orders_path, :id => "filter", :method => :get  do %>
  <p id="filter_label">Filter Orders by Status:</p> 
    <%= select_tag :order_status, options_from_collection_for_select(@order_statuses, "id", @selected_order_state), :prompt => "all statuses" %>
  <% end %>
  </div>
<div>
  <table class="table table-bodered">
    <tr>
      <th># Pending</th>
      <th># Paid</th>
      <th># Shipped</th>
      <th># Returned</th>
      <th># Canceled</th>
    </tr>
    <tr>
      <td id="scoreboard_pending_count"><%= @order_count[:pending] %></td>
      <td id="scoreboard_paid_count"><%= @order_count[:paid] %></td>
      <td id="scoreboard_shipped_count"><%= @order_count[:shipped] %></td>
      <td id="scoreboard_returned_count"><%= @order_count[:returned] %></td>
      <td id="scoreboard_canceled_count"><%= @order_count[:canceled] %></td>
    </tr>
  </table>
</div>
<div>
<table class="table table-bodered table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>ID</th>
      <th>User</th>
      <th>Status</th>
      <th>View Order</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr id="<%= dom_id order %>">
        <td><%= link_to "", admin_order_path(order), :method => :get, :class => 'icon-plus-sign', :id => "order_#{order.id}_details_control", :remote => true %></td>
        <td id="<%= dom_id order %>_id"><%= order.id %></td>
        <td id="<%= dom_id order %>_user_full_name"><%= order.user.full_name %></td>
        <td id="<%= dom_id order %>_status"><%= order.status %></td>
        <td><%= link_to 'View', admin_order_path(order), :class => 'btn btn-mini', :id => "#{dom_id order}_view" %></td>
        <td id="<%= dom_id order %>_transitions"><%= display_status_transition_links(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="details_pane"></div>
</div>