$('#order_<%= @order.id %>').after("<tr><td colspan=6> \
<table class='table'> \
<tr><td>User Email:</td> \
<td id=\"order_<%= @order.id %>_details_user_email_address\"><%= @order.user.email_address %></td></tr> \
<tr><td>Order Total:</td> \
<td id=\"order_<%= @order.id %>_details_total\"><%= number_to_currency(@order.total) %></td></tr> \
<tr><td>Placed at:</td> \
<td id=\"order_<%= @order.id %>_details_datetime\"><%= @order.placed_at %></td></tr> \
</table> \
</td></tr>");
$("#order_<%= @order.id %>_details_control").removeClass("icon-plus-sign");
$("#order_<%= @order.id %>_details_control").addClass("icon-minus-sign");