<fieldset id="edit_login_info"> 
<% remote_form_for @user do |f| %>
  <p>
    <%= f.label :email_address %>:
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :password %>:
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Update Login Info" %>
  </p>
<% end %>
</fieldset>