<h1>/Order</h1>

<p>
  <b>Special url</b><br>
  <%= link_to @special_url, @special_url %>
</p>

<p>
  <b>Status</b><br>
  <%= @order.status %>
</p>

<p>
	<b>OrderProducts</b>
	<table class="table-bordered table-striped">
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Subtotal</th>
		<% @order.order_products.each do |op| %>
			<tr>
				<td><%= link_to op.product.title, product_path(op.product) %></td>
				<td><%= number_to_currency(op.price) %></td>
				<td><%= op.quantity %></td>
				<td><%= number_to_currency(op.total) %></td>
			</tr>
		<% end %>
	</table>
</p>

<div class="form-actions">
  <%= link_to 'Back', orders_path, :class => 'btn'  %>
</div>
