<%= form_tag (contact_us_path) do |f| %>
  <fieldset class="contact-form">
    <div id="customer_contact">
      <div class="contact-fullname">
        <%= text_field_tag :name %>
      </div>
      
      <div class="contact-email">
        <%= text_field_tag :email %>
      </div>
    </div>

  <div id="contact-message">
    <div class="contact-subject">
      <%= text_field_tag :subject %>
    </div>
    
    <div class="contact-body">
      <%= text_area_tag :body %>
    </div>
  </div>
  
  <fieldset class="contact-actions">
    <%= submit_tag "Send Us an Email", :class => 'btn btn-mini' %>
  </fieldset>
</fieldset>
<% end %>