<%= form_tag (contact_us_path) do |f| %>
  <fieldset class="contact-form">
    <div id="customer_contact">
      <div class="contact-fullname">
        <%=text_field_tag :name, nil, :placeholder => "Enter your name" %>
      </div>
      
      <div class="contact-email">
        <%= text_field_tag :email, nil, :placeholder => "Enter your email address"%>
      </div>
    </div>

  <div id="contact-message">
    <div class="contact-subject">
      <%= text_field_tag :subject, nil, :placeholder => "Message Subject" %>
    </div>
    
    <div class="contact-body">
      <%= text_area_tag :body, nil, :placeholder => "Begin typing your message here" %>
    </div>
  </div> 
  
  <fieldset class="contact-actions">
    <%= submit_tag "Send Us an Email", :class => 'btn btn-mini' %>
  </fieldset>
</fieldset>
<% end %>