<h1>Products</h1>
<div class= "new-product-button"> 
  <%= link_to 'Create New Product', new_admin_product_path, :class => 'btn btn-new-product', :id => "create_product" %>
</div> 
<div class="products-table">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Active?</th>
      <th>Photo?</th>
      <th>Actions</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr id=<%= dom_id(product) %> >
        <td class="id"><%= product.id %></td>
        <td class="title"><%= link_to product.title, admin_product_path(product) %></td>
        <td class="price"><%= number_to_currency(product.price) %></td>
        <td class="is_active"><%= display_boolean_icon(product.active?) %></td>
        <td class="has_photo"><%= display_boolean_icon(product.has_photo?) %></td>
        <td>
          <%= link_to 'Edit', edit_admin_product_path(product), :class => 'btn btn-mini' %>
          <% if product.active? %>
            <%= link_to 'Deactivate', admin_product_path(product, "product[active]" => false), :method => :put, :class => 'btn btn-mini' %>
          <% else %>
            <%= link_to 'Activate', admin_product_path(product, "product[active]" => true), :method => :put, :class => 'btn btn-mini' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Destroy', admin_product_path(product), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div> 
