<%= content_for :head do %>
<script type="text/javascript">
$(function(){
  $('select').live('change',function(){
    $(this).closest('form#filter').submit();
  });
});
</script>
<% end %>
<%= form_tag root_path, :id => "filter", :method => :get do %>
<div class="filter">
Filter by Category:
  <%= select_tag :category_id, options_from_collection_for_select(@product_categories, "id", "name", @selected_category_id), :prompt => "all categories" %>
  <% end %>
</div> 
<%= paginate @products %>
  <table class = "product">
    <tr id="product">
      <td>
        <% @products.each do |product| %>
      <table class = "indiv-product">
        <tr>
          <td colspan=2>
              <%= link_to (image_tag product.thumbnail, :class => "store_product_image", :id => "store_product_#{product.id}_image"), product_path(product) %>
          </td>
          <td>
            <%= render :partial => "product_details", :locals => { :product => product } %>
          </td>
        </tr>
      </table>
  <% end %>
</td>
</tr>
</table>
<div>
  <ul class="pager">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>