<%= content_for :head do %>
<script type="text/javascript">
$(function(){
  $('select').live('change',function(){
    $(this).closest('form#filter').submit();
  });
});
</script>
<% end %>
<%= form_tag root_path, :id => "filter", :method => :get do %>
<div class="filter">
<p id="filter_label">Filter Products by Category:</p>
  <%= select_tag :category_id, options_from_collection_for_select(@product_categories, "id", "name", @selected_category_id), :prompt => "all categories" %>
  <% end %>
</div> 
  <ul class = "product-listing">
        <% @products.each do |product| %>
      <li class = "indiv-product">
        <div class="idiv-product-thumbnail">
          <%= link_to (image_tag product.thumbnail, :class => "store_product_image", :id => "store_product_#{product.id}_image"), product_path(product) %>
        </div>
        <div class="indiv-product-details">
          <%= render :partial => "product_details", :locals => { :product => product } %>
        </div>
      </li> 
  <% end %>
  <div class="clear"></div> 
<!-- <div>
  <ul class="pager">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div> -->