<h1>/Product</h1>

<p>
  <b>Title</b><br>
  <span id="product_title"><%= @product.title %></span>
</p>

<p>
  <b>Description</b><br>
  <span id="product_description"><%= @product.description %>
</p>

<p>
  <b>Price</b><br>
  <span id="product_price"><%= number_to_currency(@product.price) %>
</p>

<p>
  <b>Photo url</b><br>
  <span id="product_photo_url"><%= @product.has_photo? ? @product.photo_url : "None" %>
</p>

<p>
  <b>Product categories</b>
  <ul id="product_categories">
  <% @product.product_categories.each do |pc| %>
    <li><%= pc.name %></li>
  <% end %>
  </ul>
</p>

<div class="indiv-product-form-actions">
  <div><%= link_to 'View All Products', products_path, :class => 'btn add_to_cart' %></div>
  <% if @product.active? %>
    <%= form_tag add_to_cart_path, :method => :post do %>
      <%= hidden_field_tag "product_id", @product.id %>
      <%= submit_tag "Add to Cart", :class => 'btn' %>
    <% end %>

    <% if current_user && current_user.can_two_click_checkout? %>
      <%= link_to "Two Click Checkout™", two_click_checkout_path(:product_id => @product.id), 
                :method => :post, :class => 'btn', :confirm => "Place an order for '#{@product.title}'?" %>
    <% end %>
  <% end %>
</div>
