<h1>/Product</h1>

<p>
  <b>Title</b><br>
  <span id="product_title"><%= @product.title %></span>
</p>

<p>
  <b>Description</b><br>
  <span id="product_description"><%= @product.description %>
</p>

<p>
  <b>Price</b><br>
  <span id="product_price"><%= number_to_currency(@product.price) %>
</p>

<p>
  <b>Photo url</b><br>
  <span id="product_photo_url"><%= @product.has_photo? ? @product.photo_url : "None" %>
</p>

<p>
  <b>Active?</b><br>
  <%= display_boolean_icon(@product.active?) %>
</p>

<p>
  <b>Product categories</b>
  <ul id="product_categories">
  <% @product.product_categories.each do |pc| %>
    <li><%= pc.name %></li>
  <% end %>
  </ul>
</p>

<div class="indiv-product-form-actions">
  <%= link_to 'View All Products', products_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
