<h1 class="index-prod-title" id="index-prod-title"><%= @product.title %>&nbsp;&nbsp;(<%= number_to_currency(@product.price) %>)</h1>

  <div id="index_prod_image">
      <%= link_to (image_tag @product.thumbnail, :class => "product_image", :id => "product_image"), product_path(@product) %>
  </div>


<div class="index-prod-cat">
    <ul class="product_categories">
    <div class="prod-cat-list-title">Product Categories:</div> 
    <% @product.product_categories.each do |pc| %>
      <li><%= pc.name %></li>
    <% end %>
    </ul>
</div>

<div id="prod_descrip"><%= @product.description %></div>

<div class="indiv-product-cart-actions">
  <% if @product.active? %>
    <%= form_tag add_to_cart_path, :method => :post do %>
      <%= hidden_field_tag "product_id", @product.id %>
      <div class="prod-index-add"><%= submit_tag "Add to Cart", :class => 'btn', :id => "add_to_cart_button" %></div>
    <% end %>

    <% if current_user && current_user.can_two_click_checkout? %>
    <div class="two-click-checkout">
      <%= link_to "Two Click Checkout™", two_click_checkout_path(:product_id => @product.id), 
                :method => :post, :class => 'btn', :confirm => "Place an order for '#{@product.title}'?", :id => "two_click_checkout" %>
    <% end %>
  </div>
  <br /> <br /> 
  <% end %>
  <div class="view-all-index"><%= link_to 'View All Products', products_path, :class => 'btn add_to_cart' %></div>
</div>


