
<%= form_tag store_index_path, :method => :get  do %>
  <p>Filter by Category:
  <%= select_tag :category_id, options_from_collection_for_select(@product_categories, "id", "name", @selected_category_id), :prompt => "all categories" %>
  <%= submit_tag "Filter", :id => "submit_category_filter"%>
</p>
<% end %>
<table class = "product-listing">
  <% @products.each do |product| %>
    <tr>
      <td colspan=2>
        <%= image_tag product.thumbnail, :class => "store_product_image", :id => "store_product_#{product.id}_image" %>
      </td>
    </tr>
    <tr>
      <td id="store_product_<%= product.id %>_title"><%= product.title %></td>
      <td id="store_product_<%= product.id %>_price">$<%= product.display_price %></td>
    </tr>
    <tr> 
      <td colspan=2 id="store_product_<%= product.id %>_add_to_cart">
        <%= form_tag add_to_cart_path, :method => :post do %>
          <%= hidden_field_tag "product_id", product.id %>
          <%= hidden_field_tag "quantity", 1 %>
          <div class="add_to_cart">
          <%= submit_tag "Add to Cart", :class => 'btn' %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<div>
  <ul class="pager">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>

