<%= form_tag store_index_path, :method => :get  do %>
  Filter by Category: 
  <%= select_tag :category_id, options_from_collection_for_select(@product_categories, "id", "name"), :include_blank => true %>
  <%= submit_tag "Filter" %>
<% end %>
<table>
  <% @products.each_with_index do |product| %>
    <tr>
      <td colspan=2><%= image_tag product.thumbnail %></td>
    </tr>
    <tr>
      <td><%= product.title %></td>
      <td>$<%= product.display_price %></td>
    </tr>
    <tr> 
      <td colspan=2>
        <%= form_tag add_to_cart_path, :method => :post do %>
          <%= hidden_field_tag "product_id", product.id %>
          <%= hidden_field_tag "quantity", 1 %>
          <%= submit_tag "Add to Cart" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<ul class="pager">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li class="active">
    <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>

