<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= yield :head %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Our Store</a>
        <div class="nav-collapse">
          <ul class="nav">
          <% if current_user %> 
            <li>
              <%= link_to "Edit Profile", edit_user_path(current_user.id), :id => "edit_profile" %>
            </li>
            <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" id="product_menu" class="dropdown-toggle" data-toggle="dropdown">
                Products Editor <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <!-- <li><%= link_to "Create A New Product", new_admin_product_path, :id => "create_product" %></li> -->
                <li><%= link_to "Create, View, & Edit Products", admin_products_path, :id => "edit_product" %></li> 
                <li><%= link_to "Create, View, & Edit Product Categories", admin_product_categories_path, :id => "product_category" %></li>
              </ul>
            <% end %>
            <li><%= link_to "Logout", :logout, :id => "logout" %></li>
          <% else %>
            <li><%= link_to "Create an Account", new_user_path, :id => "create_account" %></li>
            <li><%= link_to "Login", :login, :id => "login" %></li>
          <% end %>
            <li><%= link_to cart_nav_label, cart_show_path %></li>
          </ul>
          <form class="navbar-search pull-right">
              <input type="text" class="search-query" placeholder="Search for products">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container-fluid">
      <div class="span12">
         <div class="alerts">
            <p id="notice"><%= notice %></p>
            <p id="alert"><%= alert %></p>
          </div>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul id="navlist">
      <li><%=link_to "Contact Us", "/contact_us" %></li>
      <li><%=link_to "Blog", "#" %></li>
    </ul> 
  </div>
</body>
</html>

<!-- add carousel of "featured items" to landing page? 
   <div id="myCarousel" class="carousel">
    Carousel items 
    <div class="carousel-inner">
    <div class="active item">…</div>
    <div class="item">…</div>
    <div class="item">…</div>
    </div>
     Carousel nav 
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div> -->