<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Our Store</a>
        <div class="nav-collapse">
          <ul class="nav">
          <% if current_user %> 
            <li>
              <%= link_to "Edit Profile", edit_user_path(current_user.id), :id => "edit_profile" %>
            </li>
            <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" id="product_menu" class="dropdown-toggle" data-toggle="dropdown">
                Products Editor <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Create Product", new_product_path, :id => "create_product" %></li>
                <li><%= link_to "Edit Products", products_path, :id => "edit_product" %></li> 
              </ul>
            <% end %>
            <li><%= link_to "Logout", :logout, :id => "logout" %></li>
          <% else %>
            <li><%= link_to "Create an Account", new_user_path, :id => "create_account" %></li>
            <li><%= link_to "Login", :login, :id => "login" %></li>
          <% end %>
            <li><%= link_to "Cart", cart_show_path %></li>
          </ul>
          <form class="navbar-search pull-left">
              <input type="text" class="search-query" placeholder="Search for products">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>
  <div class="container-fluid">
    <div class="span8"><%= yield %></div>
    <div class="span4"></div>
  </div>
</body>
</html>